mixin step(name, description, code, visualize, visualizeJson, mode)
    div(class='example', data-visualize=visualize, data-visualize-json=visualizeJson, data-mode=mode)
        div(class='d-flex')
            h3=name
            div
                a(class='btn btn-send')
                    i(class='fas fa-rocket')
                    span Send to Shellviz
        p=description
        pre=code


mixin navigation(ac)
    div(class='navigation')
        a(href='/', class=ac == '' ? 'active' : '') Home
        a(href='/docs', class=ac == 'documentation' ? 'active' : '') Documentation


